@mixin main-padding($y-axis: 0) {
  padding: $y-axis 8%;
}

@mixin flex(
  $direction: row,
  $justify-content: space-between,
  $align-items: center
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin size-w-h($width: 100%, $height: 100%) {
  width: $width;
  height: $height;
}

@mixin card-image($file-url, $bg-position:center, $bg-size: cover){
  background-image: $file-url;
  background-position: $bg-position;
  background-size: $bg-size;
  background-repeat: no-repeat;
  
  
}
