//COLORS
$negro: #000;
$white: #FFF;
$gray: gray;
$green: #34eb9e;
$greenhover: #79fcc5;
$crimson: crimson;
$crimsonhover: #f37778;
$sombra-negra: rgba(0,0,0,0.1);

//FONT-FAMILY
$poppins :'Poppins', sans-serif;
$montserrat: 'Montserrat', sans-serif;

//Font-weight
$light-300: 300;
$regular-400: 400;
$bold-700: 700;