

.banner__info__buttons{
    // color: $white;
    &-mensaje{
        background-color: $green;
        &:hover{
            background-color: $greenhover;
        }
        &:active{
            background-color: $green;
        }
    }
    &-seguir{
        // color: $white;
        margin-left: 15px;
        background-color: $crimson;
        &:hover{
            background-color: $crimsonhover;
        }
    }

}
//Button transition
.banner__info__buttons *{
    color: $white;
    transition: background-color .7s, color .5s;
}