.banner__info {
  @include flex;
  &__profile {
    height: 6.25rem;
    width: 100%;
    @include flex(row, center, center);
    &__image {
      background-image: url(../images/profile-image.png);
      background-size: cover;
      background-position: center;
      @include size-w-h(4.375rem, 4.375rem);
      border-radius: 50%;
    }
    &__info {
      @include flex(column,flex-start, baseline);
      flex-wrap: nowrap;
      padding-left: 0.9375rem;
      p {
        margin: 0;
        color: $gray;

      }
    }
  }
  &__buttons {
    display: flex;
  }
}

@media (min-width:768px){
  .banner__info {
    &__profile {
      @include flex(row, flex-start, center);  
  }
  
}
}