.banner__info {
  @include flex;
  &__profile {
    height: 100px;
    width: 100%;
    @include flex(row, center, center);

    &__image {
      background-image: url(../images/profile-image.png);
      background-size: cover;
      background-position: center;
      @include size-w-h(60px, 60px);
      border-radius: 50%;
    }
    &__info {
      display: block;
      padding-left: 25px;
      p {
        margin: 0;
      }
    }
  }
  &__buttons {
    display: flex;
  }
}

@media (min-width:768px){
  .banner__info {
    &__profile {
      @include flex(row, flex-start, center);  
  }
  
}
}