.banner{
    background-image: url(../images/image-banner.png);
    background-size: cover;
    background-position-x: 80%;
    background-position-y: 59%;
    @include size-w-h (100%, 270px);
    @include flex (column, flex-end, stretch);
    &__container{
        background-color: white;
    }
}

@media (min-width:768px){
    .banner{
        border-bottom: 1px solid gray;
    }
}

@media (min-width: 992px){
    .banner{
        height: 400px;
        background-position-x: 50%;
    }
}